/*
 * Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Demo: https://marc.dev/demo/prism-synthwave84
 *
 * Ported for PrismJS by Marc Backes [@themarcba]
 * Customized for light/dark mode support
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f92aad;
	text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
	background: none;
	font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: transparent !important;
}

/* Dark mode background */
.dark pre[class*="language-"],
.dark :not(pre) > code[class*="language-"] {
	/* background-image: linear-gradient(to bottom, #2a2139 75%, #34294f); */
}

/* Light mode background - gruvbox light */
:root:not(.dark) pre[class*="language-"],
:root:not(.dark) :not(pre) > code[class*="language-"] {
	background: #f9f5d7;
}

/* Light mode base text color - gruvbox light */
:root:not(.dark) code[class*="language-"],
:root:not(.dark) pre[class*="language-"] {
	color: #3c3836;
	text-shadow: none;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

/* Comments - dark mode */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8e8e8e;
}

/* Light mode comments - gruvbox light */
:root:not(.dark) .token.comment,
:root:not(.dark) .token.block-comment,
:root:not(.dark) .token.prolog,
:root:not(.dark) .token.doctype,
:root:not(.dark) .token.cdata {
	color: #7c6f64;
}

.token.punctuation {
	color: #ccc;
}

/* Light mode punctuation - gruvbox light */
:root:not(.dark) .token.punctuation {
	color: #7c6f64;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
	color: #e2777a;
}

/* Light mode tags - gruvbox light */
:root:not(.dark) .token.tag,
:root:not(.dark) .token.tag .punctuation,
:root:not(.dark) .token.doctype,
:root:not(.dark) .token.builtin {
	color: #b57614;
}

:root:not(.dark) .token.attr-name {
	color: #7c6f64;
}

:root:not(.dark) .token.namespace,
:root:not(.dark) .token.deleted {
	color: #9d0006;
}

:root:not(.dark) .token.number,
:root:not(.dark) .token.unit,
:root:not(.dark) .token.hexcode {
	color: #8f3f71;
}

.token.property,
.token.selector {
	color: #72f1b8;
	text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;
}

/* Light mode property - gruvbox light */
:root:not(.dark) .token.property,
:root:not(.dark) .token.constant,
:root:not(.dark) .token.variable {
	color: #9d0006;
	text-shadow: none;
}

:root:not(.dark) .token.class-name {
	color: #b57614;
	text-shadow: none;
}

:root:not(.dark) .token.symbol {
	color: #8f3f71;
	text-shadow: none;
}

:root:not(.dark) .token.selector,
:root:not(.dark) .token.important,
:root:not(.dark) .token.atrule {
	color: #9d0006;
	text-shadow: none;
}

.token.function-name {
	color: #6196cc;
}

/* Light mode function-name - gruvbox light */
:root:not(.dark) .token.function-name,
:root:not(.dark) .token.function {
	color: #b57614;
	text-shadow: none;
}

.token.boolean,
.token.selector .token.id,
.token.function {
	color: #fdfdfd;
	text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

/* Light mode boolean - gruvbox light */
:root:not(.dark) .token.boolean {
	color: #9d0006;
	text-shadow: none;
}

:root:not(.dark) .token.selector .token.id {
	color: #b57614;
	text-shadow: none;
}

.token.class-name {
	color: #fff5f6;
	text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75;
}

/* Light mode class-name - handled above with property */

.token.constant,
.token.symbol {
	color: #f92aad;
	text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

/* Light mode constant - handled above with property */

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
	color: #f4eee4;
	text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
}

/* Light mode keywords - gruvbox light */
:root:not(.dark) .token.keyword,
:root:not(.dark) .token.selector .token.class {
	color: #9d0006;
	text-shadow: none;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #f87c32;
}

/* Light mode strings - gruvbox light */
:root:not(.dark) .token.string,
:root:not(.dark) .token.char {
	color: #797403;
}

:root:not(.dark) .token.attr-value,
:root:not(.dark) .token.attr-value .punctuation {
	color: #7c6f64;
}

:root:not(.dark) .token.regex {
	background: #797403;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

/* Light mode operator - gruvbox light */
:root:not(.dark) .token.operator {
	color: #7c6f64;
}

:root:not(.dark) .token.entity {
	color: #8f3f71;
}

:root:not(.dark) .token.url {
	color: #797403;
	text-decoration: underline;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

/* Light mode inserted - gruvbox light */
:root:not(.dark) .token.inserted {
	background: #7c6f64;
}
