/*
 * Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Demo: https://marc.dev/demo/prism-synthwave84
 *
 * Ported for PrismJS by Marc Backes [@themarcba]
 * Customized for light/dark mode support
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f92aad;
	text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
	background: none;
	font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: transparent !important;
}

/* Dark mode background */
.dark pre[class*="language-"],
.dark :not(pre) > code[class*="language-"] {
	background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
}

/* Light mode background - adjusted for visibility */
:root:not(.dark) pre[class*="language-"],
:root:not(.dark) :not(pre) > code[class*="language-"] {
	background-image: linear-gradient(to bottom, #f5e6ff 75%, #e8d5ff);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

/* Comments - using gradient (will be overridden by component) */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8e8e8e;
}

/* Light mode comments */
:root:not(.dark) .token.comment,
:root:not(.dark) .token.block-comment,
:root:not(.dark) .token.prolog,
:root:not(.dark) .token.doctype,
:root:not(.dark) .token.cdata {
	color: #666666;
}

.token.punctuation {
	color: #ccc;
}

/* Light mode punctuation */
:root:not(.dark) .token.punctuation {
	color: #555;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
	color: #e2777a;
}

/* Light mode tags/numbers */
:root:not(.dark) .token.tag,
:root:not(.dark) .token.attr-name,
:root:not(.dark) .token.namespace,
:root:not(.dark) .token.number,
:root:not(.dark) .token.unit,
:root:not(.dark) .token.hexcode,
:root:not(.dark) .token.deleted {
	color: #c94449;
}

.token.property,
.token.selector {
	color: #72f1b8;
	text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5575, 0 0 35px #21272475;
}

/* Light mode property */
:root:not(.dark) .token.property,
:root:not(.dark) .token.selector {
	color: #2d9966;
	text-shadow: none;
}

.token.function-name {
	color: #6196cc;
}

/* Light mode function-name */
:root:not(.dark) .token.function-name {
	color: #4070a0;
}

.token.boolean,
.token.selector .token.id,
.token.function {
	color: #fdfdfd;
	text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

/* Light mode boolean/function */
:root:not(.dark) .token.boolean,
:root:not(.dark) .token.selector .token.id,
:root:not(.dark) .token.function {
	color: #0077aa;
	text-shadow: none;
}

.token.class-name {
	color: #fff5f6;
	text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c75, 0 0 5px #fc1f2c75, 0 0 25px #fc1f2c75;
}

/* Light mode class-name */
:root:not(.dark) .token.class-name {
	color: #aa0d91;
	text-shadow: none;
}

.token.constant,
.token.symbol {
	color: #f92aad;
	text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #fff3;
}

/* Light mode constant */
:root:not(.dark) .token.constant,
:root:not(.dark) .token.symbol {
	color: #c71585;
	text-shadow: none;
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
	color: #f4eee4;
	text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
}

/* Light mode keywords */
:root:not(.dark) .token.important,
:root:not(.dark) .token.atrule,
:root:not(.dark) .token.keyword,
:root:not(.dark) .token.selector .token.class,
:root:not(.dark) .token.builtin {
	color: #aa5d00;
	text-shadow: none;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #f87c32;
}

/* Light mode strings */
:root:not(.dark) .token.string,
:root:not(.dark) .token.char,
:root:not(.dark) .token.attr-value,
:root:not(.dark) .token.regex,
:root:not(.dark) .token.variable {
	color: #c94449;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

/* Light mode operator */
:root:not(.dark) .token.operator,
:root:not(.dark) .token.entity,
:root:not(.dark) .token.url {
	color: #0077aa;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

/* Light mode inserted */
:root:not(.dark) .token.inserted {
	color: #008000;
}
